/*/font quattrocento 400/700
font Siracha 400
font MAven pro 400 500 600 700 800/*/

body {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: block;
}

header {
  text-align: center;
  border-top: 8px solid #7db96f;
  background-image: url(file:///Users/TomalaAlyssa/Sites/15-emojuice/15-emojuice-ressources/fruits%20divers.webp);
}

.header-content {
  background-color: rgba(255, 255, 255, 0.863);
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 18px;
  color: #7db96f;
  margin: 30px;
  padding: 30px 60px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  border-radius: 15px;
  padding: 10px;
}
.button-acces {
  background-color: #7db96f;
  color: white;
  margin: 0 65px 10px;
}

.button-contact {
  background-color: white;
  color: #7db96f;
  margin: 10px 105px 45px 105px;
}

p {
  margin: 0;
}

.presentation {
  text-align: center;
  margin: 0 65px;
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 16px;
}

.presentation strong {
  font-weight: 700;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.presentation h1 {
  margin: 100px 0 26px 0;
}

.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 35px 0 100px;
}

.fruits-container img{
  width: 30px;
}

main {
  background-color: #7db96f;
}

main h1 {
  color: white;
  padding: 40px 110px 20px;
}

article {
  margin: 30px 40px;
  box-shadow: 2px 2px 44px 9px rgba(0,0,0,0.1);
  border-radius: 25px;
  padding-left: 40px;
}

h3 {
  margin: 0;
}

article h3 {
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  font-size: 30px;
  color: black;
  padding-top: 40px;
}

article p {
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 16px;
}

article a {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box-container .about {
  display: flex;
  flex-direction: row;
}

.about img{
  width: 160px;
}

.button-more {
  display: flex;
  align-self: flex-end;
  padding-bottom: 30px;
}

.banana-box {
  background-color: #fcf7d6;
}

.kiwi-box {
  background-color: #d0f1ae;
}

.coffe-box {
  background-color: #cdc4b0;
}

.strawberry-box {
  background-color: #e2a2b1;
}
