/*/font quattrocento 400/700
font Siracha 400
font MAven pro 400 500 600 700 800/*/
html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  max-width: 380px;
  margin: auto;
  display: block;
}

header {
  text-align: center;
  border-top: 8px solid #7db26e;
  background-image: url(file:///Users/TomalaAlyssa/Sites/15-emojuice/15-emojuice-ressources/fruits%20divers.webp);
  padding-bottom: 1px;
}

.header-content {
  background-color: rgba(255, 255, 255, 0.863);
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 18px;
  color: #7db26e;
  margin: 30px;
  padding: 30px 60px;
}

.button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

button {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  padding: 10px;
}
.button-acces {
  background-color: #57bb6b;
  color: white;
  margin: 0 65px 10px;
  border-radius: 10px;
}

.button-contact {
  background-color: white;
  color: #57bb6b;
  margin: 10px 105px 45px 105px;
  border-radius: 10px;
}

p {
  margin: 0;
}

.another-button {
  color:#57bb6b;
  text-decoration: none;
}

.presentation {
  text-align: center;
  margin: 0 65px;
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 16px;
}

.presentation strong {
  font-weight: 700;
}

h1 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0;
}

.presentation h1 {
  margin: 100px 0 26px 0;
}

.fruits-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
  margin: 35px 0 100px;
}

.fruits-container img{
  width: 30px;
}

main {
  background-color: #57bb6b;
}

main h1 {
  color: white;
  padding: 40px 110px 20px;
}

article {
  box-shadow: 0 0 10px rgb(0 0 0 / 30%);
  border-radius: 25px;
}
.box {
  margin: 30px 40px;
  padding-left: 40px;
}

h3 {
  margin: 0;
}

article h3 {
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  font-size: 30px;
  color: black;
  padding-top: 40px;
}

article p {
  font-family: 'quattrocento', serif;
  font-weight: 400;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
}

article a {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 14px;
  color: black;
  text-decoration: underline;
}

.box-container {
  display: flex;
  flex-direction: column;
}

.box-container .about {
  display: flex;
  flex-direction: row;
}

.about img{
  width: 160px;
}

.button-more {
  display: flex;
  align-self: flex-end;
  padding-bottom: 30px;
}

.banana-box {
  background-color:#FFF8D7;
}

.kiwi-box {
  background-color: #C4F2AD;
}

.coffe-box {
  background-color: #D3C6B2;
}

.strawberry-box {
  background-color: #F7A4B4;
}

footer {
  padding: 30px 30px 15px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info-contact {
  color: #57bb6b;
  padding: 25px 0 35px 0;
}

.all-contacts {
  background-color: #57bb6b;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 2px 2px 44px 9px rgba(0,0,0,0.1);
}

.another-contact {
  margin: 5px 50px;
  box-shadow: 2px 2px 44px 9px rgba(0,0,0,0.1);
}

a {
  color: white;
  text-decoration: none;
}

.certified {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  font-size: 12px;
  padding: 30px 40px 20px;
  text-align: center;
  color:#57bb6b;
}

footer .fruits-container {
  padding: 0 20px;
  margin: 30px 0px;
}

.showcase-container {
  background-color: #C4F2AD;
  text-align: center;
  padding-bottom: 30px;
}

.vignette {
  margin: 0 40px;
}

.showcase-container h3{
  font-family: 'Sriracha', cursive;
  font-weight: 400;
  font-size: 30px;
  color: black;
  padding: 30px 50px 0;

}

.showcase-container p {
font-family: 'quattrocento', serif;
font-weight: 400;
font-size: 16px;
color: rgba(0, 0, 0, 0.5);
padding: 0 50px;
}

.round-vignette {
  background: #ffffff;
  border-radius: 50%;
  margin: 40px;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

div {
  display: block;
}

.round-vignette img {
  width: 210px;
  justify-content: center;
}


.kiwi-overall {
  display: flex;
  flex-direction: column;
  padding: 60px;
  color: white;
}

h4 {
  font-family: 'Maven Pro', sans-serif;
  font-weight: 700;
  font-size: 26px;
  margin: 0 0 20px;
}

.explanation,
ul {
  font-family: 'Quattrocento', serif;
  font-weight: 400;
  font-size: 16px;
}

.explanation {
  margin: 16px 0;
}

ul {
  padding-left: 40px;
}

h5 {
  font-family: 'Quattrocento', serif;
  font-weight: 700px;
  font-size: 18px;
  margin: 30px 0 0;
}

nav {
  background-color: #C4F2AD;
}

.strawberry-article {
  background-color: #F7A4B4;
}

.strawberry-article h1 {
  padding: 5px 20px 0 20px;
  text-align: left;
}

.coffe-article h1 {
  text-align: left;
  padding: -10px;
}

.coffe-article {
  background-color: #D3C6B2;
  padding: 15px 15px 0 15px;
}

.coffe-article,
.strawberry-article {
  border-radius: 10px;
}

nav h1 {
  text-align: center;
}

.others-products {
  padding: 30px;
}

.article-container h1 {
  font-family: 'Sriracha';
  font-weight: 400;
  font-size: 20px;
  color: black;
}

.article-container a {
  text-decoration: none;
}

.article-container p {
  font-family: 'maven pro';
  font-weight: 400;
  font-size: 40px;
  color: rgba(0, 0, 0, 0.5);
  margin: 0 -10px;
}

.article-container img {
  width: 100px;
}

.article-container {
  display: flex;
  margin: 5px;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.products-article-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 20px 30px;
}

.article-showcase {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 10px;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.acces {
  margin: 68px;
}



